absl-py>=2.0.0
attrs>=23.0.0
certifi
cffi>=1.16.0
charset-normalizer>=3.3.0
click>=8.1.0
cmake
contourpy>=1.2.0
cycler>=0.12.0
dlib
et_xmlfile>=1.1.0
face-recognition>=1.3.0
face_recognition_models>=0.3.0
flatbuffers
fonttools>=4.40.0
grpcio>=1.65.0
idna>=3.6
jax
jaxlib
kiwisolver
matplotlib
ml_dtypes
numpy
opencv-python
openpyxl
opt_einsum
packaging
pandas
pillow
protobuf
pycparser
pyparsing
python-dateutil
pytz
requests
scipy
six
sounddevice
tzdata
urllib3
pymssql
python-dotenv
cryptography
mediapipe


